/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 25%;
}

.start
{
    color: black;
    left-margin: auto;
    right-margin: auto;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.start2
{
    color: pink;
    left-margin: auto;
    right-margin: auto;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: large;
}

#header
{
	position: relative;
	background-color: white;
	height: 50px;

	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#my_name
{
	font-weight: bold;
	background-color: rgb(4, 180, 224);
	display: inline;
	margin-left:10px;
	margin-top:10px;
	padding-left:5px;
	padding-right:5px;
	/* height: 80%; */
	line-height: 40px;
	float: left;
	}


.top_link
{
    font-weight: bold;
	position: relative;
	width: 10%;
	height: 100%;
	float: right;
    vertical-align: middle;
    margin-top:10px;
    line-height: 40px;

}

.my_face {
  position: relative;
  margin:20px;
  display: block;
  float: left;
  width: 200px;
}

.my_thumbs {
	height: 200px;
	width: 300px;
  }

.main_brick{
    position: relative;
    background:white;
    margin-left:50px;
    margin-top:50px;
    margin-right:50px;
    height:auto;
}

.description{
	position: relative;
    color:black;
    padding-left:50px;
	padding-top:20px;
}
#footer_teal {
    clear: both;
    background-color: cyan;
    position: relative;
    height: 5px;
    margin-top: 50px;
}
#footer {
    clear: both;
    background-color: gray;
    position: relative;
    height: 40px;
    margin-top: 0px;
}

#copycat {
    border-top: 50;
    font-size: x-small;
    padding-top:25px;
    text-align: center;
}

#aboutme {
	font-family:Helvetica;
	font-size:x-large;
	color:teal;	
	padding-left:25px;
    padding-top:20px;
}

.line {
	clear: both;
	position:relative;
	padding-left:20px;
	padding-right:20px;
	color: teal;
	/* border-left: 20px;
	border-width: 10px;
	margin: 20px;
	width: 80%; */

}

.entry-width{

	width: 90%
}

.entry-height2{
	height: 150px;
}

.thumb_box{
	position: relative;
	text-align: center;
	color: white;
	float: left;
	height: auto;
}

.bottom_center{
	position: absolute;
	/* left: 25%; */
	width: 250px;
	bottom: 8px;
	left: 20px;
	padding: 8px;
	background-color: teal;

}